@{
    ViewData["Title"] = "Home Page";
}


<div class="border border-light p-3 mb-4">

    <div class="d-flex align-items-center justify-content-center" style="height: 350px">

        <div class="p-2 bd-highlight col-example" style="margin: auto;">
       
            <a class="btn btn-primary btn-lg"asp-action="GetUserData" style="margin-left: 550px;"  role="button">View</a>
        
        </div>

    </div>

</div>
